<html>
	<head>
		<title>about</title>
		<link rel="icon" href="/img/weather.png">
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="main-content">
		{{>header}}
		<img class="portrait" src="/img/SAM_5004.JPG" />

		</div>
		{{>footer}}
	</body>
</html>
